<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App跳转</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>
<script src="//cdn.rawgit.com/jonnyreeves/js-logger/master/src/logger.min.js"></script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//do.yunzhijia.com/pub/js/qingjs.js"></script>
<script src="//cdn.bootcss.com/URI.js/1.18.1/URI.min.js"></script>
<script src="//cdn.rawgit.com/doedje/jquery.soap/master/jquery.soap.js"></script>
<script type="text/javascript">

    Logger.useDefaults();
    Logger.setHandler(function (messages, context) {
        $.post('/logs', {message: messages[0], level: context.level});
    });

    function doLogin(username, password, success, error) {
        $.post({
            url: '/mail/authenticate',
            data: {user_at_domain: username, password: password},
            success: function (result) {
                Logger.info(JSON.stringify(result));
                success();
            },
            error: function (result) {
                Logger.info(result);
            }
        });
    }

    function doSSO() {
        XuntongJSBridge.call('getPersonInfo', {}, function (result) {
            if (result.success) {
                var email = result.data.email;
                Logger.info(email);
            }
        });
    }

    doLogin('chenjizhe@gzbfdc.com', '19860222', doSSO());

</script>
页面已装载
</body>
</html>