<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="javascripts/qrcode.js"></script>
    <title>扫描登录</title>
</head>
<body>
<div id="qrcode"
     style="position:fixed;width:300px; height:300px;top: 50%;left: 50%;margin-top: -150px;margin-left: -150px"></div>

<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width: 300,
        height: 300,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    //    qrcode.makeCode('http://weibo.gzbfdc.com:3000/qrlogin');
    //    qrcode.makeCode('http://192.168.0.14:3000/qrlogin?appid=10207&mid=102');
    qrcode.makeCode('http://weibo.gzbfdc.com:3000/qrlogin?appid=10207&mid=102');
</script>
</body>
<html>