<!DOCTYPE html>
<html ng-app="todo">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- ↑↑↑↑↑↑上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！↑↑↑↑↑↑ -->


    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <!-- ↓↓↓↓↓↓something about bootstrap && jquery↓↓↓↓↓↓-->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- 官网地址：http://medialize.github.com/URI.js/=====相关版本信息http://www.bootcdn.cn/URI.js/-->
    <script src="//cdn.bootcss.com/URI.js/1.18.1/URI.min.js"></script>
    <!--云之家JS-API能够提供轻应用在云之家中更好的展示和交互，方便轻应用轻松获得云之家的设备能力。轻应用必须应用于云之家APP（注意的是：目前云之家移动端可以使用全部的JS-API接口、桌面端仅有部分接口使用）中，如果脱离了云之家APP，而在其他的浏览器中打开，则不能使用到云之家的JS-API功能。-->
    <script src="http://do.yunzhijia.com/pub/js/qingjs.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <!--自定义css文件-->
    <link rel="stylesheet" href="stylesheets/todo.css">
    <!--加载动画-->
    <link rel="stylesheet" href="stylesheets/loading.css">
    <title>待办列表</title>
</head>
<body>
<div class="container">
    <div id="spinner" style=" margin: auto;position: absolute; top: 0; left: 0; bottom: 0; right: 0;visibility: hidden">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>

    </div>
    <ul class="nav nav-pills" role="tablist" id="myTab">
        <li role="presentation" style="text-align: center">
            <a role="tab" aria-controls="todounhd" data-toggle="tab" href="#todounhd">待办
                <div id="vertical_line"></div>
            </a>
        </li>
        <li role="presentation" style="text-align: center">
            <a role="tab" aria-controls="todohd" data-toggle="tab" href="#todohd">已办
                <div id="vertical_line"></div>
            </a></li>
        <li role="presentation" style="text-align: center">
            <a role="tab" aria-controls="subunhd" data-toggle="tab" href="#subunhd">我的待办
                <div id="vertical_line"></div>
            </a></li>
        <li role="presentation" style="text-align: center">
            <a role="tab" aria-controls="subhd" data-toggle="tab" href="#subhd">我的已办</a></li>
    </ul>
    <div class="tab-content" ng-controller="matters">
        <div role="tabpanel" class="tab-pane active" id="todounhd">
            待办
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="unhd in unhds" ng-click="goDetail(unhd,'todounhd')">
                    <h5>
                        {{unhd.title}}
                    </h5>

                    <div>
                        <p>
                            {{unhd.billtypename}}
                        </p>

                        <p>
                            {{unhd.sendman}}
                        </p>

                        <p></p>
                        <h6>{{unhd.senddate}}</h6>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="todohd">
            已办
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="hd in hds" ng-click="goDetail(hd,'todohd')">
                    <h5>
                        {{hd.title}}
                    </h5>

                    <div>
                        <p>
                            {{hd.billtypename}}
                        </p>

                        <p>
                            {{hd.sendman}}
                        </p>

                        <p></p>
                        <h6>{{hd.senddate}}</h6>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="subunhd">
            我的待办
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="subunhd in subunhds" ng-click="goDetail(subunhd,'subunhd')">
                    <h5>
                        {{subunhd.title}}
                    </h5>

                    <div>
                        <p>
                            {{subunhd.billtypename}}
                        </p>

                        <p>
                            {{subunhd.sendman}}
                        </p>

                        <p></p>
                        <h6>{{subunhd.senddate}}</h6>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="subhd">
            我的已办
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="subhd in subhds" ng-click="goDetail(subhd,'subhd')">
                    <h5>
                        {{subhd.title}}
                    </h5>

                    <div>
                        <p>
                            {{subhd.billtypename}}
                        </p>

                        <p>
                            {{subhd.sendman}}
                        </p>

                        <p></p>
                        <h6>{{subhd.senddate}}</h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- AngularJS http://www.bootcdn.cn/angular.js/1.5.8/-->
<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
<!--自定义js文件-->
<script src="javascripts/url.js"></script>
<script src="javascripts/todo.js"></script>
</body>
</html>