.container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

span {
    font-size: larger;
}

#confirm {
    background-color: #3cbaff;
    color: white;
}

.list-group {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}